/*--start variables--*/

:root {
  --main-color:#141E4F;
}

/*--end variables--*/

/*--start global rules--*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  direction: rtl;
  transition:500ms ease-out;
  -webkit-transition:500ms ease-out;
  -moz-transition:500ms ease-out;
  -ms-transition:500ms ease-out;
  -o-transition:500ms ease-out;
  transition-property: transform;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100vw;
  background-color: #F3F3F3;
  overflow-x: hidden;
  font-size: min(1vw,1vh);
  padding-bottom: 2vh;
}

ul {
  list-style: none;
}

.container {
  width: 96vw;
  margin: 0px auto;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 0 0 10px 10px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #999;
  border: 1px solid rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb:hover {
  background-color:var(--main-color);
}

/* -start fonts- */

@font-face {
  font-family: 'alqabas-bold';
  src: url(../fonts/19305-alqabas-bold.ttf);
}
@font-face {
  font-family: 'cairo';
  src: url(../fonts/Cairo-Black.ttf);
}
@font-face {
  font-family: 'cairo-bold';
  src: url(../fonts/Cairo-Bold.ttf);
}
@font-face {
  font-family: 'cairo-semiBold';
  src: url(../fonts/Cairo-SemiBold.ttf);
}
@font-face {
  font-family: 'cairo-light';
  src: url(../fonts/Cairo-Light.ttf);
}
@font-face {
  font-family: 'cairo-extraLight';
  src: url(../fonts/Cairo-ExtraLight.ttf);
}
@font-face {
  font-family: 'cairo-regular';
  src: url(../fonts/Cairo-Regular.ttf);
}
/* -end fonts- */

/* start animation */

.move{
  animation:1s ease-out 100ms reverse backwards;
  -webkit-animation:1s ease-out 100ms reverse backwards;
  animation-play-state: paused;
}
.left{
  animation-name: moveLeft;
}
.right{
  animation-name:moveRight ;
}

@keyframes moveLeft {
  to{
    transform: translateX(-140%);
    -webkit-transform: translateX(-140%);
    -moz-transform: translateX(-140%);
    -ms-transform: translateX(-140%);
    -o-transform: translateX(-140%);
}
}
@keyframes moveRight {
  to{
    transform: translateX(140%);
    -webkit-transform: translateX(140%);
    -moz-transform: translateX(140%);
    -ms-transform: translateX(140%);
    -o-transform: translateX(140%);
  }
}

/* end animation */

/*--end global rules--*/

/* -start nav- */
nav #bar{
  font-size: 4em;
  cursor: pointer;
  display: none;
}

nav{
  background-color: transparent;
  height:10vh;
  width: 100vw;
  color:#fff;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  column-gap: 2vw;
  font-family: cairo-light;
  position:fixed;
  top:0;
  z-index: 99;
  transition-property: transform,background-color;
}

nav ul #x{
  display: none;
  font-size: 1.5em;
  position: absolute;
  right: 2vw;
  top: 2vh;
  cursor: pointer;
}

.nav-active{
  background-color: var(--main-color);
}

nav ul{
  width:60vw;
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
}

@media (max-width:900px){
  nav{
    column-gap: 4vw;
  }
  nav #bar{
    display: block;
  }
  nav ul#ul {
    width: 65vw;
    height: 110vh;
    padding-bottom: 40vh;
    font-size: 4.4rem;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--main-color);
    box-shadow: 0px 0px 4px 0px #fff;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
  }
  nav ul#ul #x{
    display: block;
  }
  nav ul#ul.show{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@media (max-width:600px){
  nav{
    justify-content: space-between;
    padding: 0 2vw;
  }
  div.banner{
    width: 100%;
  }
  div.banner img.banner{
    width: 70%;
  }
  .home .backgrond-home{
    display: none;
  }
}

a{
  text-decoration: none;
  color:#fff;
  display: inline-block;
}

nav ul a:hover{
  text-decoration: underline;
}

nav ul li:hover{
transform: scale(1.4);
-webkit-transform: scale(1.4);
-moz-transform: scale(1.4);
-ms-transform: scale(1.4);
-o-transform: scale(1.4);
}

nav ul i{
  font-size: 1em;
}

.zatech-icon-nav{
  height: 200%;
}

/* end nav */

/* start home */

.home{
  width:100vw;
  height:100vh;
  background-color: var(--main-color);
  color: white;
  position: relative;
  overflow: hidden;
}

img.icon{
  width:100% ;
  height: 100%;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: alqabas-bold;
  height: 100vh;
  width: 65vw;
  position: relative;
}

img.banner{
  height: 55%;
  width: 45%;
  position: absolute;
  top: 10%;
}

.banner p{
  width: 90%;
  top:50%;
  text-align: center;
  line-height: 1.5;
  position: absolute;
}

.backgrond-home{
  height: 110vh;
  width: 90vw;
  position: absolute;
  top: -5vh;
  left: -55vw;
  overflow: hidden;
  background: #fff url('../image/zatech-home.webp') 95% 50% no-repeat padding-box;
  background-size: 35%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  z-index: 98;
}

/* end home */

/* start ourserves */

.ourserves{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header{
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1{
  font-family: alqabas-bold;
  font-size: 4em;
}

p{
  font-family: cairo;
  font-size: 2.5em;
  line-height: 1.8;
}

.serves{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: cairo-bold;
  width: 100%;
  font-size: 2em;
}

.serve{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  row-gap: 1vh;
  width: 20%;
  cursor: pointer;
  padding: 2vh 0;
  border-radius: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}

.serve:hover{
  background-color:var(--main-color);
  color: #fff;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.serve i{
  font-size: 5em;
}

@media (max-width:600px){
  .ourserves{
    height: fit-content;
  }
  .serves .serve{
    width: 40%;
  }
}

@media (max-width:350px){
  .serves .serve{
    width: 70%;
  }
}

/* end ourserves */

/* start ourwork */

.ourwork{
  width: 100vw;
  height: 90vh;
  padding: 5vh 0;
  background: linear-gradient(90deg,#6967c3, #932fe4);
}

.ourwork .container{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourwork h1{
  font-family: cairo;
}

.ourwork a{
  text-decoration: none;
  color:#000;
  display: inline-block;
}
.ourwork a:hover{
  text-decoration: underline;
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}

.ourwork p{
  font-family: cairo-semiBold;
  font-weight: bolder;
  margin: initial;
}

.swiper{
  width: 100%;
  height: 100%;
  margin:0 5%;
}

.swiper-slide{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: fit-content !important; */
}

.swiper-slide p{
  width: 55%;
  height: 100%;
  display: flex;
  align-items:center ;
  font-family: cairo-semiBold;
  color: #fff;
  font-size: 2.8em;
  line-height: 2;
  padding-right: 60px ;
}

.swiper-slide img{
  width: 45%;
  aspect-ratio: 1/.6;
  padding-left: 20px ;
}

.swiper-pagination{
  bottom: 0vh !important;
}

.swiper-pagination span{
  padding: 0.6vw !important;
  opacity: 80%;
  background: var(--main-color);
}

.swiper-pagination .swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-button-next,
.swiper-button-prev{
  color:var(--main-color) !important;
  left: 20px !important;
}

@media (max-width:750px) {
  .swiper-slide{
    flex-direction: column-reverse;
  }
  .swiper-slide p{
    width: 100%;
    height: 50%;
    max-height: fit-content;
    padding: 0 50px 0 45px;
  }
  .swiper-slide img{
    width: 50%;
    padding: 0;
    aspect-ratio: 1/.55;
  }
}

/* .swiper-button-next:hover,
.swiper-button-prev:hover{
  transform: translateX(-2vw)scale(1.2);
  -webkit-transform: translateX(-2vw)scale(1.2);
  -moz-transform: translateX(-2vw)scale(1.2);
  -ms-transform: translateX(-2vw)scale(1.2);
  -o-transform: translateX(-2vw)scale(1.2);
} */

.swiper-button-prev{
  right: 10px !important;
}
/* end ourwork */

/* start who-we-are */
.who-we-are{
  background-color: #ddd;
}

.who-we-are .container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.who-we-are .text{
  width: 50%;
}

.who-we-are .text p{
  line-height: 2.2;
  font-family: cairo-semiBold;
}

.who-we-are a{
  background-color: var(--main-color);
  font-family: 'cairo-bold';
  font-size: 3em;
  border: none;
  outline: none;
  margin-top: 7vh;
  padding: 1vh 3vw;
  border-radius: 10px;
}

.who-we-are .img-cont{
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-we-are .linear{
  width: 90%;
  height: 60%;
  display: inline-block;
  background:linear-gradient(#4f7492,#0c2543);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.who-we-are .img{
  width: 100%;
  height: 100%;
  background: transparent url('../image/who-we-are.png') 50% 50% no-repeat padding-box;
  background-size: 100% 50%;
  display: inline-block;
}

@media (max-width:700px){
  .who-we-are .text{
    width: 96%;
    height: 45%;
  }
  .who-we-are .img-cont{
    width: 55%;
    height: 60%;
  }
  .who-we-are .img-cont .linear{
    height: 80%;
  }
}
/* end who-we-are */

/* start bar */
.bar{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.bar img{
  width: 20%;
  height: 30vh;
}

.bar p{
  font-size: 2em;
  color: #fff;
  font-family: 'cairo-bold';
  font-weight: 600;
}
/* end bar */

/* start why-zatech */
.why-zatech .container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.why-zatech .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.why-zatech .box{
  width: 46%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  border:1px #888;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}

.why-zatech .box:hover{
  color: #fff;
  cursor: pointer;
  background-color: var(--main-color);
}

.why-zatech .circle {
  width: 2vw;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #888;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.why-zatech .box:nth-of-type(1){
  border-bottom-style:solid ;
  border-left-style:solid ;
  position: relative;
  border-top-right-radius: 10px;
}
.why-zatech .box:nth-of-type(2){
  border-bottom-style:solid ;
  border-right-style:solid ;
  border-top-left-radius: 10px;
}
.why-zatech .box:nth-of-type(3){
  border-top-style:solid ;
  border-left-style:solid ;
  border-bottom-right-radius: 10px;
}
.why-zatech .box:nth-of-type(4){
  border-top-style: solid ;
  border-right-style:solid ;
  border-bottom-left-radius: 10px;
}

.why-zatech .box i{
  font-size: 12em;
}

.why-zatech h1,
.why-zatech .box p{
  font-size: 3.5em;
}

@media (max-width:720px) {
  .why-zatech .box{
    flex-direction: column;
  }
}
/* end why-zatech */

/* start Contact */
.contact{
  width: 100vw;
  background-color: #E1E1E1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact .container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

form{
  width: 50%;
  height: 90%;
  padding: 2% 2% 5%;
  font-family: 'cairo-semiBold';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #101C3D;
  border: 1px solid black;
  border-radius: 20px;
}

.contact form lable{
  color: #fff;
  font-size: 2.2em;
  margin-top: 8%;
}

.contact form input:not(#submit){
  width: 100%;
  padding: 2vh 2vw;
  margin-top: 1vh;
  font-size: 2.2em;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact form #message{
  height: 20vh;
}

.contact form #submit{
  margin-top: 5%;
  padding: 1.4vh 5vw;
  background-color: #1A41BE;
  color: #fff;
  font-weight: bold;
  font-size: 1.5vw;
  cursor: pointer;
  align-self: flex-end;
  border-radius: 10px;
  outline: none;
  border: none;
}

.contact .content{
  width: 50%;
  height: 90%;
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3vh;
  color: #343434;
}

.contact .text h1{
  font-family: 'cairo-bold';
  font-size: 5em;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: -.5px;
}

.contact .text p{
  font-size: 2em;
  text-align: center;
}

.contact .img{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact .img img{
  max-width: 100%;
}

.contact .info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3vh;
}

.contact .info>div{
  width: 48%;
  display: flex;
  align-items: center;
  column-gap: 1vh;
}

.contact .info p{
  font-size: 1.5em;
}
.contact .info p.phone{
  font-size: 2.5em;
  font-family: 'cairo-semiBold';
}

.contact .info i{
  font-size: 4em;
  color: #343434;
}

.contact .info .social{
  width: 100%;
  justify-content: space-evenly;
}

.contact .info .social i:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.contact .info .social i.fa-twitter:hover{
  color: #00b7ff;
}
.contact .info .social i.fa-linkedin:hover{
  color: #0b5c82;
}
.contact .info .social i.fa-facebook-square:hover{
  color: #233d76;
}
.contact .info .social i.fa-envelope:hover{
  color: #b21602;
}

@media (max-width:650px) {
  .contact .container{
    height: auto;
  }
  form{
    width: 90%;
  }
  .container .content{
    width: 75%;
  }
}
/* ene contact */

/* start oursevespage */ 
.back{
  position: absolute;
  right: 2.5vw;
  top: 1vh;
  color: #000621;
  font-size: 4.5em;
  transition-property: transform;
}

.back:hover{
  color: var(--main-color);
  transform: scale(1.3) translateX(1vw);
  -webkit-transform: scale(1.3) translateX(1vw);
  -moz-transform: scale(1.3) translateX(1vw);
  -ms-transform: scale(1.3) translateX(1vw);
  -o-transform: scale(1.3) translateX(1vw);
}

.servespage{
  background-color:#F9F9F9;
}

.container-serves{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: cairo;
}

.container-serves h1{
  font-size: 5em;
}

.container-serves p{
  font-family:cairo-semiBold;
}

.container-serves .links-serves{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-serves .links-serves *{
  padding: .6vh 3vw;
  font-size: 2.5em;
  cursor: pointer;
  border-radius: 1vw;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}

.container-serves .links-serves *:hover{
  background-color: var(--main-color);
  color: #fff;
}

#projects{
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh 2vw;
}

#projects>*{
  width: 17.5vw;
  aspect-ratio: 1.2 / 1;
  background: #F5F5F5;
  border: .3vh solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  cursor: pointer;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}

@media (max-width:900px){
  #projects>*{
    width: 250px;
  }
}

#projects>* img{
  height: 55%;
  width: 80%;
}
/* end oursevespage */

/*start loadding animation */
#loading{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
#loading .cont{
  width: 35vw;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10vw;
  position: relative;
}
#loading .cont::before{
  content: '';
  width: 40vw;
  aspect-ratio: 2/1;
  position: absolute;
  background:linear-gradient(#00bee5 50%,#1965b0);
  border-radius: 10vw;
  animation: rotate 2s linear .8s infinite;
  -webkit-animation: rotate 2s linear .8s infinite;
}
#loading .cont img{
  width: inherit;
  position: absolute;
}
@keyframes rotate{
  to{transform:rotate(360deg)}
}
/*end loadding animation */