/*--start variables--*/

:root {
  --main-color:#141E4F;
}

/*--end variables--*/

/*--start global rules--*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  direction: rtl;
  transition:1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition-property: transform;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.container {
  width: 96vw;
  margin: 0px auto;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 0 0 10px 10px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #999;
  border: 1px solid rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb:hover {
  background-color:var(--main-color);
}

/* -start fonts- */

@font-face {
  font-family: 'alqabas-bold';
  src: url(../fonts/19305-alqabas-bold.ttf);
}
@font-face {
  font-family: 'cairo';
  src: url(../fonts/Cairo-Black.ttf);
}
@font-face {
  font-family: 'cairo-bold';
  src: url(../fonts/Cairo-Bold.ttf);
}
@font-face {
  font-family: 'cairo-semiBold';
  src: url(../fonts/Cairo-SemiBold.ttf);
}
@font-face {
  font-family: 'cairo-light';
  src: url(../fonts/Cairo-Light.ttf);
}
@font-face {
  font-family: 'cairo-extraLight';
  src: url(../fonts/Cairo-ExtraLight.ttf);
}
@font-face {
  font-family: 'cairo-regular';
  src: url(../fonts/Cairo-Regular.ttf);
}
/* -end fonts- */

/* start animation */

.move{
  animation:1s ease-out 100ms reverse backwards;
  -webkit-animation:1s ease-out 100ms reverse backwards;
  animation-play-state: paused;
}
.left{
  animation-name: moveLeft;
}
.right{
  animation-name:moveRight ;
}

@keyframes moveLeft {
  to{
    transform: translateX(-140%);
    -webkit-transform: translateX(-140%);
    -moz-transform: translateX(-140%);
    -ms-transform: translateX(-140%);
    -o-transform: translateX(-140%);
}
}
@keyframes moveRight {
  to{
    transform: translateX(140%);
    -webkit-transform: translateX(140%);
    -moz-transform: translateX(140%);
    -ms-transform: translateX(140%);
    -o-transform: translateX(140%);
  }
}

/* end animation */

/*--end global rules--*/

/* -start nav- */

nav{
  background-color: transparent;
  height:10vh;
  width: 100vw;
  color:#fff;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  column-gap: 2vw;
  font-family: cairo-light;
  position:fixed;
  top:0;
  z-index: 999;
  transition-property: transform,background-color;
}

.nav-active{
  background-color: var(--main-color);
}

nav ul{
  width:50vw;
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  font-size: 1.4rem;
}
nav ul a{
  text-decoration: none;
  color:#fff;
}

nav ul a:hover{
  text-decoration: underline;
}
nav ul li:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.zatech-icon-nav{
  height: 200%;
}

/* end nav */

/* start home */

.home{
  width:100vw;
  height:100vh;
  background-color: var(--main-color);
  color: white;
  position: relative;
  overflow: hidden;
}

img.icon{
  width:100% ;
  height: 100%;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: alqabas-bold;
  font-size: 1.5em;
  height: 100vh;
  width: 65vw;
  position: relative;
}

img.banner{
  height: 50%;
  width: 45%;
  position: absolute;
  top: 15%;
}

.banner p{
  width: 95%;
  top:50%;
  text-align: center;
  position: absolute;
  align-self: flex-start;
}

.backgrond-home{
  height: 110vh;
  width: 90vw;
  position: absolute;
  top: -5vh;
  left: -55vw;
  overflow: hidden;
  background: #fff url('../image/zatech-home.webp') 90% 50% no-repeat padding-box;
  background-size: 32%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  z-index: 1000;
}

/* end home */

/* start ourserves */
/* محتاجه تعديل زي الموقع */

.ourserves{
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header{
  width: 60%;
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header h1{
  font-family: alqabas-bold;
}

header p{
  font-family: cairo;
  font-size: 1.2rem;
  line-height: 1.8;
}

.serves{
  height: 60vh;
  display: flex;
  font-family: cairo-bold;
}

.serve{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
  align-items: center;
  width: 20%;
}

.serve img{
  width: 55%;
  height: 35%;
}

.test{
  width: 100vw;
  height: 10vh;
  background-color: var(--main-color);
}

/* end ourserves */

/* start ourwork */

.ourwork{
  width: 100vw;
  height: 100vh;
  background:transparent url(../image/ourwork.png) 0% 0% no-repeat padding-box;
  background-size: cover;
}

.ourwork .container{
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourwork h1{
  font-family: cairo;
  font-size: 2rem;
}

.ourwork p{
  font-family: cairo-semiBold;
  font-size: 1.5rem;
}

.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide p{
  width: 45%;
  height: 50%;
  font-family: cairo-semiBold;
  color: #fff;
  font-size: 1.7vw;
  line-height: 2;
}

.swiper-slide img{
  width: 45%;
  height: 55%;
}

.swiper-pagination{
  bottom: 8vh !important;
}

.swiper-pagination span{
  padding: 0.6vw !important;
  opacity: 80%;
  background: var(--main-color);
}

.swiper-pagination .swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-button-next,
.swiper-button-prev{
  color:var(--main-color) !important;
  left:-2px !important;
}

.swiper-button-prev{
  right: -2px !important;
}

/* end ourwork */

/* start oursevespage */

.servespage{
  background-color:#F9F9F9;
}
.container-serves{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: cairo;
}
/* .container-serves h1{
} */
.container-serves p{
  font-family:cairo-semiBold;
  font-size: 1.4em;
}
.container-serves .links-serves{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-serves .links-serves *{
  padding: .5vh 2vw;
  cursor: pointer;
  border-radius: 1vw;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.container-serves .links-serves *:hover{
  background-color: var(--main-color);
  color: #fff;
}
#projects{
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#projects>*{
  width: 17%;
  height: 30%;
  background: #F5F5F5;
  border: .3vh solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  cursor: pointer;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
#projects>* img{
  height: 50%;
  width: 80%;
}

/* end oursevespage */




/* start container > about */
.container-2{
  width: 90vw;
  height: 100vh;
  border: 2px solid #E2E2E2;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}
.container-2 .all{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-2 h1{
  font-family: 'cairo';
  font-size: 2vw;
}
.container-2 p{
  font-family: 'cairo-semiBold';
  font-size: 1.5vw;
  line-height: 1.8;
}
.container-2 .about{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.container-2 .text{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}
.container-2 .img-group{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .img-group img{
  width: 200%;
}
.container-2 .text .btn{
  width: 40%;
  height: 8%;
  background-color: #1A41BE;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'cairo-semiBold';
}
.container-2 .text .btn a{
  font-weight: bold;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
}
/* end container > about */

/* start logo-bar */
.logo-bar{
  width: 90vw;
  height: 10vh;
  border: 2px solid #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A3D85;
  margin: auto;
}
.logo-bar .text-1 p{
  font-size: 1.3vw;
  color: #fff;
  font-family: 'cairo-bold';
  font-weight: 600;
}
.logo-bar .img-logo {
  text-align: center;

}
.logo-bar .img-logo img{
  width: 50%;
}
/* end logo-bar */

/* start about-2 */
.about-2{
  width: 90vw;
  height: 100vh;
  border: 2px solid #E2E2E2;
  background-color: #F3F3F3;
  margin: auto;
}
.about-2 .text-2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.about-2 .text-2 h1{
  font-family: 'alqabas-bold';
}
.container-3{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}
.div-one{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-3 img{
  width: 20%;
}
.div-one p{
  font-size: 2.5vw;
  font-family: 'alqabas-bold';
}
.div-one:nth-child(1) img{
  width: 15%;
}
.div-one:nth-child(2) img{
  width: 25%;
}
.div-one:nth-child(3) img{
  width: 30%;
}
.div-one:nth-child(4) img{
  width: 20%;
}

.container-3::before{
  width: 2px;
  height: 70vh;
}
.container-3::after{
  width: 70vw;
  height: 2px;
}
.container-3::before,
.container-3::after{
  content: '';
  background-color: #ADADAD;
  position: absolute;
}
/* end about-2 */



/* start Contact */
.contact{
  width: 90vw;
  height: 100vh;
  border: 2px solid #E2E2E2;
  background-color: #E1E1E1;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.list-input{
  width: 40%;
  height: 90%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #101C3D;
  padding: 20px;
  font-family: 'cairo-semiBold';
}
.contact .list-input input{
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  border: none;
}
.contact .list-input p{
  text-align: start;
  font-size: 1.5vw;
  color: #fff;
  padding: 20px;
}
.contact .list-input .message-p{
  height: 20vh;
}
.contact .list-input .btn-2{
  background-color: #1A41BE;
  padding: 10px;
  border-radius: 10px;
  display: block;
  width: 30%;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.contact .list-input .btn-2 a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3vw;
}
.info{
  width: 40%;
  height: 90%;
  flex-direction: row;
  flex-wrap: wrap;
}
.text-h1{
  font-family: cairo-bold;
  margin-bottom: 30px;
}
.img-3 img{
  width: 90%;
}
.info-2{
  width: 90%;
  margin: auto;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.fa-solid,
.fa-brands{
  font-size: 2vw;
  margin-left: 8px;
}
.icon-5 p{
  font-family: cairo-bold;
  text-align: start;
}
.end{
  width: 100%;
}
.icons a{
  color: #707070;
  padding: 10px;
}
/* end Contact */

/* start services */
.services{
  width: 90vw;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-4{
  width: 100%;
  height: 100%;
}
.container-4 .photo{
  width: 100%;
  height: 100%; 
}

.container-4 .photo img{
  width: 100%;
  height: 100%;
}
.container-4 .twe-div{
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}
.container-4 .email{
  width: 40%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.container-4 .email p{
  font-size: 1.5vw;
  color: #fff;
  font-weight: bold;
  font-family: 'cairo';
}
.container-4 .email input{
  width: 80%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}
.container-4 .email::before{
  content: 'أشترك';
  position: absolute;
  width: 25%;
  height: 18%;
  left: 10%;
  top: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  border-radius: 10px;
  background: #101C3D;
  color: #fff;
  cursor: pointer;
  font-family: 'cairo-bold';
}
.container-4 .logo{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-4 .logo img{
  width: 50%;
}
/* end services */

/* strat info-3 */
.info-3{
  width: 90vw;
  height: 35vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color:var(--main-color);
}
.info-3 .all-info-3{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: 'cairo-bold';
  font-size: 1vw;
}
.info-3 .all-info-3 .logo{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-3 .all-info-3 .logo img{
  width: 100%;
}
.info-3 .all-info-3 .call{
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}
.info-3 .all-info-3 .links{
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.info-3 .all-info-3 .links a{
  text-decoration: none;
  color: #fff;
}
.info-3 .all-info-3 .about{
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
/* end info-3 */

/* strat rights */
.rights{
  width: 90vw;
  height: 5vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  border: 2px solid #dad7d7;
}
.rights p{
  font-size: 1.5vw;
}
/* end rights */